
/* 
    Created on : 15/04/2020, 18:01:26
    Author     : Luciana Alves
*/

/* ---- Geral ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 700px;
    background: #81a167;
}

button {
    background: #82dee8;
}

input {
    background: #fffbb0;
}

#imagem-topo{
    background: #caecae;
    text-indent: -9999px;
}
/* --- Header Menu Superior ---*/
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #caecae;
    min-width: 850px;
}

header ul {margin-top: 18px;
           list-style: none;
}

header li {
    display: inline-block;
    margin: 0 10px;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
header button{
    margin-right: 20px;
    width: 100px;
    height: 25px;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

#espacador {
    margin-top: 80px;
}

/* ----- Corpo ------  */

section {
    border: 2px solid black;
    background: #e6e29e;
}

form, .botoes {
    margin: 10px 0;
    padding: 15px;
}

form div{
    margin: 10px 0px;
}

form input{
    width: 60%;
    margin-left: 10px;
}

.nome-aba, .titulo{
    width: 100%;  
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.nome-aba{
    margin: 25px 0;
    font-size: 30px;
}

.container {
    border: 1px solid black;
    height: 200px;
    margin: auto;
    padding: 10px;
}

.form-container {
    width: 80%;
    float: left;
    
}

.buttons-container {
    margin-left: 80%;
    border: 1px solid black;
    height: 150px;
    padding-top: 10px;
    margin-top: 15px;
    justify-content: center;
    padding-left: 48px;
    
}
.buttons-container button{
    width: 100px;
    height: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;    

}
.pesquisar{
    margin-bottom: 15px;
}
.conteudo{
    margin-bottom: 15px;
    margin-top: 15px;
}


.pesquisar th, .pesquisar td{
    padding: 7px;
}


.pesquisar th {
    text-transform: uppercase;
    border: 1px solid black;
    font-size: 90%;
}

tr:hover.hover{
    background: #82dee8;
}
.nomeProduto{
    text-align: left;
}
.valor{
    text-align: center;
}
.estoque{
    text-align: right;
}

